/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~angular-notifier/styles";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url(https://fonts.googleapis.com/css?family=Nunito);

html,
body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  height: 100%;
  font-family: 'Nunito' !important;
}

img {
  width: 100%;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.card-title {
  font-weight: 300;
  text-align: center;
}

.login-form {
  margin: 50px;
}

.user:before {
  content: '\f007';
  font: 14px fontawesome;
  color: #5b5b5b;
}

.lock:before {
  content: '\f023';
  font: 14px fontawesome;
  color: #5b5b5b;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.icon--info {
  background-color: #e5e5e5;
  border-radius: 50%;
}

.forgetmdp {
  float: right;
  font-size: 12px;
}
